# Dependencies
node_modules/

# Builds
dist/
.next/
out/

# Environment variables and secrets
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
*.env
*.env.*
**/*.env
**/*.env.*

# Logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
.vscode/
.idea/

# Supabase local
supabase/.temp/
